.btnDel {
  padding: 8px;
  margin: 2px;

  text-align : center;
  width: 200px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;

   /* 그림자 */
 
  box-shadow:.4rem .3rem 0.7rem #BEC5D0,
             -.2rem -.2rem .4rem #FBFBFB;
   position: relative;
  border-radius: 10px;
}
.btnUpt {
  padding: 8px;
  margin: 2px;
 width: 200px;
  text-align : center;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  box-shadow:.4rem .3rem 0.7rem #BEC5D0,
             -.2rem -.2rem .4rem #FBFBFB;
  border-radius: 10px;
}
.btnAdd {
  padding: 8px;
  margin: 2px;
  width: 200px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  box-shadow:.4rem .3rem 0.7rem #BEC5D0,
             -.2rem -.2rem .4rem #FBFBFB;
    border-radius: 10px;
  
}

.btn {
  width: 150px;
  height: 46px;
  

}

.btn:active {
  /*버튼 눌리는 효과*/
  box-shadow: inset -.3rem -.1rem 1.4rem  #FBFBFB, 
              inset .3rem .4rem .8rem #BEC5D0; 
  cursor: pointer;
}

.inputField {
  background-color: rgb(254, 249, 226);
}

.inputField legend {
  background-color: white;
  border: 1px solid     black;
  padding: 2px;
}

.inputItem {
  display: grid;
  grid-template-columns: 150px auto;
  /* justify-content: space-between; */
}

.inputText {
  width: 33%;
  height: 54%;
}

.selectCombo {
   
  width: 20%;
    height: 90%;
  
}

.inputImage {
  display: block;
}
.showImage {
  max-width: 100%;
}

.inputButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
    
}
.listField {
  background-color: rgb(254, 249, 226);
  border: 1px solid black;
}


.listField legend {
  background-color: white;
  border: 1px solid black;
}

.listTitleRow {
  display: grid;
  grid-template-columns: 120px 120px 120px 200px auto;
}

.listDataRow {
  display: grid;
  grid-template-columns: 120px 120px 120px 200px auto;
} 

.text-wrapper {
  border: 1px solid black;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.852);
}
.margin {
  margin: 2px;
}


.text-attack {
  border: 1px solid black;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.47);
  
  
}

.atkbtn1 {
  padding: 8px;
  margin: 2px;
 width: 100px;
  text-align : center;
  background-color: rgb(255, 108, 108);
  font-weight: bold;
  box-shadow:.4rem .3rem 0.7rem #BEC5D0,
             -.2rem -.2rem .4rem #FBFBFB;
             border-radius: 10px;

  display: flex;
}
.atkbtn2 {
  padding: 8px;
  margin: 2px;
 width: 100px;
  text-align : center;
  
  font-weight: bold;
  box-shadow:.4rem .3rem 0.7rem #BEC5D0,
             -.2rem -.2rem .4rem #FBFBFB;
             border-radius: 10px;
  background-color: #7fccde;
}
.atkbtn3 {
  padding: 8px;
  margin: 2px;
 width: 100px;
  text-align : center;
  background-color: rgb(255, 244, 127);
  font-weight: bold;
  box-shadow:.4rem .3rem 0.7rem #BEC5D0,
             -.2rem -.2rem .4rem #FBFBFB;
             border-radius: 10px;
             
  
  
}

.HPbar {
     width: 300px; 
 
  accent-color: red;
}


.MPbar {
 width: 300px; 
  accent-color: blue;
}


.attackRow {
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
  width: 105%;
}

.attackTitle {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.47);
  padding: 6px;
}

.attackSelect {
  width: 12100%;
  height: 38px;
}


.atkbtn1,
.atkbtn2,
.atkbtn3 {
  margin-left: 161px;   /* 버튼을 오른쪽으로 */
  margin-top: 0px;     /* 위아래 조정 */
}
